# local package
-e .

# external requirements
requests
setuptools
python-whois
dvc
pandas
jupyter
click
Sphinx
coverage
awscli
flake8
python-dotenv
simplejson
dnspython
ipwhois
tldextract
argparse
numpy
sklearn
nltk
blosc
