# local package
-e .
requests
setuptools
python-whois
dvc
pandas
jupyter

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv
simplejson
dnspython
ipwhois
tldextract
argparse
numpy
pickle
sys
itertools
sklearn
nltk
os
subprocess
csv
random
shutil
blosc
